VITE_FIREBASE_API_KEY=AIzaSyAV1boL2d64K1XW1t_LAysEXD8lrg2bdxk"
VITE_FIREBASE_AUTH_DOMAIN="isp-biller.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="isp-biller"
VITE_FIREBASE_STORAGE_BUCKET=isp-biller.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID="820858736653"
VITE_FIREBASE_APP_ID="1:820858736653:web:35ce6de11d109750da4544"
